 body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
       background: linear-gradient(to bottom right, #e0f2ff, #d4f0e3);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      max-width: 500px;
      background: #ffffff;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .logo {
      max-width: 400px;
      margin-bottom: 2px;
    }

    h1 {
      color: #003366;
      font-size: 35px;
      margin-bottom: 10px;
    }

    p {
      color: #555;
      font-size: 1rem;
      margin-bottom: 25px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    input {
      padding: 12px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }

    button {
      padding: 12px;
      background-color: #0066cc;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s;
    }
    a{
        text-decoration:none;
        color: white;
    }
    button:hover {
      background-color: #005bb5;
    }

    .confirmation {
      margin-top: 15px;
      color: green;
      display: none;
    }

    @media (max-width: 600px) {
      .container {
        margin: 1rem;
      }
    }